table {
    width: 100%;
    border-collapse: collapse;
    background-color: #FFFFFF;
    margin-top: 20px;
}

th {
    background-color: #545454;
    color: #EBEBEB;
    padding: 12px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #C0C0C0;
}

tr:hover {
    background-color: #EBEBEB;
}
